@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
    font-family: "Montserrat", sans-serif;
    list-style: none;
    text-decoration: none;
    
}

html {
    font-size: 17px;
  }
  


header{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    height: 10vh;
    width:100%;
}
.header-links, .icon{
    margin:1rem;
}

.side-navbar{
    width: 30%;
    height: 100%;
    position: absolute;
    /* remove below line debug */
    background-color: brown;
    margin:1rem;
    transform: translate(0,0);
    transition: transform 0.3s ease;
}

/* styles applied only if width<= 768px */
/* Bug on desktop screen --- taking double px on desktop */
@media screen and (max-width: 768px) {
    body{

        background-color:lightcyan;
    }
    .icon{
        display: none;
    }
    .side-navbar{
        transform: translate(-300px,0);
    }
  }